.App {
  text-align: center;
}

.displayNone {
  display: none;
}

.displayFlex {
  display: flex;
}

.flexPaddingTop5 {
  display: flex;
  padding-top: 5px;
}

.fontSize {
  font-size: 16px;
}

.borderGapColor {
  border: 2px;
  border-color: blueviolet;
}

.myInfo,
.roomsList {
  padding: 5px 5px;
  width: 50%;
  border: 1px solid #999;
}

.roomNameNumber {
  font-size: 0.6em;
  font-weight: bold;
}

.videos {
  margin-left: 15px;
}

.remotes {
  display: flex;
  justify-content: safe center;
  overflow-x: auto;
}

.screen {
  text-align: center;
}

.videoFrame {
  width: 60px;
}

.myMessage {
  font-size: 0.7rem;
  color: #ff6600;
}

.myInput {
  width: 100%;
}
